* {
  margin-bottom: 0;
}
form {
  display: flex;
  flex-direction: column;
}
.logField {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logField h5 {
  margin-top: 0;
}
main {
  margin-bottom: 10em;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.nyf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.nyf div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-block: 100vh;
  padding-inline: 20vw;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.nyf img {
  width: 60vmin;
}

.loggers {
  padding-top: 10px;
}

header > p:nth-of-type(2) {
  cursor: pointer;
  font-size: 5vmin;
  /* background-color: red; */
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding-inline: 10px;
  user-select: none;
}

#aboutSection {
  position: fixed;
  height: 100vh;
  background: black;
  top: 0;
  left: -50vw;
  width: 50vw;
  padding-inline: 20px;
  text-align: justify;
  transition: 1s;
  overflow: auto;
  border-right: solid white 5px;
  color: white;
}
#aboutSection > div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 29px;
  padding: 50px;
}
#paidVerify > div {
  /* From https://css.glass */
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#paidVerify > div > div {
  width: fit-content;
  border: solid 5px black;
  border-radius: 10px;
  padding: 5px;
}
#paidVerify > div > div > span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (min-width: 1024px) {
  #aboutSection{
    z-index: 99;
  }
  body{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
  }
  main {
    /* background-color: red; */
    width: 100vw;
    position: sticky;
    right: 0;
    margin: 0;



    display: flex;
    justify-content: space-between;
    flex-wrap: no-wrap;
    flex-grow: 1;
  }

  fieldset{
    display: flex;
    flex: auto;
    flex-direction: column;
  }

  #loggers > fieldset{
    flex-direction: row;
  }
}
